.input-wrapper{	
	display: flex;
	flex-direction: column;
	flex-flow: column-reverse;
	align-items: flex-start;
}

		
.input-wrapper>.field{

	all: unset;
	background-color: #eee;
	height: 30px;
	position: relative;
	border: 1px solid lightskyblue;
	transition: all 0.1s ease;
	width: 100%;

}
		
.input-wrapper>.field:focus{

	border: 3px solid lightskyblue;

}
		
.input-wrapper>label{
	transform: translateY(10px);
	opacity: 0;
	transition: all 0.3s ease; 

}

.input-wrapper>.field::placeholder{

	transition: color 0.3s ease;
}

.input-wrapper>.field:focus::placeholder{
	color: transparent;

}

.input-wrapper>.field:focus + label{
	opacity: 1;
	transform: translateY(0px);
}

